<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Item Master Tools</title>
    <link href="/cdn/css/bootstrap/_bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/cdn/css/dashboard/_dashboard.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="/cdn/js/jquery-2.1.1.min.js"></script>
    <script src="/cdn/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav navbar-brand"><a href="~/gateway.html">Item Master Tools</a></div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Imports", "Index", "Imports")</li>
                    <li>@Html.ActionLink("Exports", "Index", "Exports")</li>
                    <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

    </div>

    <footer class="container">
        <div class="row">
            <div class="col-md-12">&copy; @DateTime.Now.Year - ItemMaster Manager System </div>
        </div>
    </footer>

</body>
</html>