@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Production File Mapping";
}
@model ProductionUpload
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h5>@Model.ErrorMsg</h5>
                <h2>Production Mapping Tool</h2>
            </div>
        </div>

        <div class="row">
            @using (Html.BeginForm("ProductionMapping",
                            "Imports",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse... <input type="file" name="FileIn" id="fileIn" />
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>


                <script>
                    $(document).ready(function () {

                        $(document).on('change', '.btn-file :file', function () {
                            var input = $(this),
                                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                            input.trigger('fileselect', [numFiles, label]);
                        });

                        $(document).ready(function () {
                            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

                                var input = $(this).parents('.input-group').find(':text'),
                                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                                if (input.length) {
                                    input.val(log);
                                } else {
                                    if (log) alert(log);
                                }

                            });
                        });
                    });
                </script>

                <div class="col-md-4">
                    <select name="Source" class="form-control">
                        <option value="1">Excel xlsx File</option>
                        <option value="2">Excel xls File</option>
                        <option value="3">XML File</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary btn-block" />
                </div>
            }
        </div>
    </div>
</div>





<div class="panel panel-default">
    <div class="panel-body">
        <h4>Map inbound columns to Production Layout</h4><br />
        @using (Html.BeginForm("SubmitProductionCodex", "Imports", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            string currentPage = Model.MappingHeaders.Keys.FirstOrDefault();
            List<string> headers = new List<string>();
            headers.Add(" ");
            if (!String.IsNullOrWhiteSpace(currentPage))
            {
                headers = Model.MappingHeaders[currentPage].ToList();
            }

            @Html.AntiForgeryToken();
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>For File: @Model.MappingHeaders.Keys.FirstOrDefault()</label>
                        <input type="text" name="Source" class="form-control" readonly="readonly" value="@Model.Source" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ol>
                        <li><strong>ISBN:</strong></li>
                        <li><strong>Title:</strong></li>
                        <li><strong>ContractID</strong></li>
                        <li><strong>Number of Pages</strong></li>
                        <li><strong>Trim Size</strong></li>
                        <li><strong>Paper Stock</strong></li>
                        <li><strong>Paper Weight</strong></li>
                        <li><strong>Format</strong></li>
                        <li><strong>Print Type</strong></li>
                        <li><strong>Format Size</strong></li>
                        <li><strong>Cloth Color</strong></li>
                    </ol>
                </div>
                <div class="col-md-6">
                    <ol>
                        <li>
                            <select name="ddlIsbn">

                                @foreach (string item in headers)
                                {
                                    <option value="@headers.IndexOf(item)">@item</option>
                                }
                            </select>
                        </li>
                        <li>
                            <select name="ddlTitle">
                                @foreach (string item in headers)
                                {
                                    <option value="@headers.IndexOf(item)">@item</option>
                                }
                            </select>
                        </li>
                        <li>
                            <select name="ddlContractID">
                                @foreach (string item in headers)
                                {
                                    <option value="@headers.IndexOf(item)">@item</option>
                                }
                            </select>
                        </li>
                        <li>
                            <select name="ddlNumberOfPages">
                                @foreach (string item in headers)
                                {
                                    <option value="@headers.IndexOf(item)">@item</option>
                                }
                            </select>
                        </li>
                        <li>
                            <select name="ddlTrimSize">
                                @foreach (string item in headers)
                                {
                                    <option value="@headers.IndexOf(item)">@item</option>
                                }
                            </select>
                        </li>
                        <li>
                            <select name="ddlPaperStock">
                                @foreach (string item in headers)
                                {
                                    <option value="@headers.IndexOf(item)">@item</option>
                                }
                            </select>
                        </li>
                        <li>
                            <select name="ddlPaperWeight">
                                @foreach (string item in headers)
                                {
                                    <option value="@headers.IndexOf(item)">@item</option>
                                }
                            </select>
                        </li>
                        <li>
                            <select name="ddlFormat">
                                @foreach (string item in headers)
                                {
                                    <option value="@headers.IndexOf(item)">@item</option>
                                }
                            </select>
                        </li>
                        <li>
                            <select name="ddlPrintType">
                                @foreach (string item in headers)
                                {
                                    <option value="@headers.IndexOf(item)">@item</option>
                                }
                            </select>
                        </li>
                        <li>
                            <select name="ddlFormatSize">
                                @foreach (string item in headers)
                                {
                                    <option value="@headers.IndexOf(item)">@item</option>
                                }
                            </select>
                        </li>
                        <li>
                            <select name="ddlClothColor">
                                @foreach (string item in headers)
                                {
                                    <option value="@headers.IndexOf(item)">@item</option>
                                }
                            </select>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="SettingsName">Settings Name</label>
                    <input type="text" name="SettingsName" class="form-control" value="@Model.SettingsName" />
                </div>

                <div class="col-md-4">
                    <label for="">&nbsp;</label>
                    <input type="submit" id="submitMap" value="Save Setting" class="btn btn-primary btn-block" />
                </div>
            </div>
        }

        @Model.ResultsData
    </div>
</div>
